body {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: var(--font-base);
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

h5 {
  font-size: var(--step--1);
}

h6 {
  font-size: var(--step--2);
}

strong {
  font-family: AuthenticBold;
}

a {
  color: currentColor;
  text-decoration: underline 0.1rem;
}

a:is(:hover, :focus) {
  text-underline-offset: 0.35rem;
}
